.pagination{
    display: flex;
    justify-content: center;
}
.pagination button{
    width: 35px;
    height: 35px;
    margin: 2px;
    border: 0;
    border-radius: 50%;
    font-weight: 600;
    background-color: #ffffff;
    cursor: pointer;
}
.pagination button.active{
    background: #a3ffd3;
    box-shadow: 0px 8px 28px -6px #18274b1f inset;
}